version: '3.9'

services:
  db:
    image: mysql:latest
    env_file: .env
    ports:
    - "3306:3306"
    volumes:
    - .:/app
    - db:/var/lib/mysql

  app: 
    image: daviuz/ruby:3.1.3
    user: root
    volumes:
      - .:/app
      - bundle_path:/usr/local/bundle
    working_dir: /app
    env_file: .env
    command: bundle exec rails server -b 0.0.0.0 -p 3000
    shm_size: 1gb
    depends_on:
      - db
    ports: 
      - "3000:3000"
    tty: true
    stdin_open: true

volumes:
  bundle_path:
  db: