<div class="container mt-3">
    <h1>Document Types</h1>

    <div class="row row-cols-2 row-cols-md-3 g-4 mt-3">
    <div class="col">
            <div class="card text-bg-primary position-relative">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="px-2"><%= image_tag "plus.png", height: 24 %></span>
                    <%= link_to "Add New Doc Type", new_doctype_path, class: 'link-dark text-decoration-none stretched-link' %>
                </h5>
            </div>
            </div>
        </div>
    <% @doctypes.each do | doctype | %>
        <div class="col">
            <a href="/doctypes/<%= doctype.id %>">
                <div class="card text-bg-success">
                <div class="card-body">
                    <h5 class="card-title text-decoration-none"><%=doctype.name %></h5>
                </div>
                </div>
            </a>
        </div>
    <% end %>
        
    </div>
   
</div>