<div class="row justify-content-center">
  <div class="col-6 p-3">
    <h4>Completed documents</h4>
    <div class="trackContainer">
       <div class="list-group p-1">
           <% Array(@routes).each do |route| %>
              <% if logged_in? && route.destination_user_id == current_user %>
                <%= turbo_frame_tag "document_#{route.document.id}" do %>
                    <%= render 'documents/document', document: route.document %>
                <% end %>
              <% end %>
          <% end %>
        </div> 
    </div>
  </div>
   <div class="col-6 p-3">
      <h4>Document Information</h4>
        <div id="doc_details">
        </div>
    </div>
</div>
