<div class="container">
    <section class="cover d-flex flex-lg-row flex-sm-column-reverse align-items-center">
        <div class="cover-left">
            <h1 class="display-1 fw-semibold pb-3">Document Tracker</h1>
            <p class="h3 pb-3">Keep track of your documents without hassle! </p>
            <button type="button" class="btn btn-success">Get Started</button>
            <button type="button" class="btn btn-outline-success">See Dashboard</button>
        </div>
        <div class="cover-right">
           <%= image_tag 'cover-right-vector.png', height: 260 %>
        </div>
    </section>

     <section class="features d-flex flex-lg-row flex-sm-column-reverse align-items-center">
      
    </section>
</div>