  <div class="row justify-content-center">
    <div class="col-12 p-3">
      <h4>Processing documents</h4>
      <div class="trackContainer">
        <div class="list-group p-1">
          <% Array(@routes).each do |route| %>
              <% if logged_in? && route.destination_user == current_user %>
                  <%= render 'routes/document_route', route: route %>
              <% end %>
          <% end %>
        </div> 
      </div>  
    </div>
  </div>