   
<div class="row">
   <div class="d-flex justify-content-between">
    <h1> My document logs </h1>
    <div class="mt-2 p-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">New log</button>
        <%= link_to "New log", new_document_path, class: "btn btn-success btn-lg", data: {controller: 'document-modal'} %>
    </div>
</div
</div
<div class="row justify-content-center my-3 mx-1">
  <div class="col-md-4">
      <h3> Pending </h3>
      <div class="trackContainer" id="document_list">
          <div class="list-group p-1">
              <% @documents.each do |document| %>
                  <% if document.user == current_user && document.status_id == 1  %>
                      <%= render document %>
                  <% end %>
              <% end %>
          </div> 
      </div>    
  </div>
  <div class="col-md-4">
      <h3> Processing </h3>
      <div class="trackContainer">
          <div class="list-group p-1">
              <% @documents.each do |document| %>
                  <% if document.user == current_user && document.status_id == 2 %>
                      <%= render document %>
                  <% end %>
              <% end %>
          </div> 
      </div>    
  </div>
  <div class="col-md-4">
      <h3> Completed </h3>
      <div class="trackContainer">
          <div class="list-group p-1">
              <% @documents.each do |document| %>
                  <% if document.user == current_user && document.status_id == 3 %>
                      <%= render document %>
                  <% end %>
              <% end %>
          </div> 
      </div>    
  </div>
</div>