<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class="text-center mb-3"> My documents </h1>
            <% @documents.each do |document| %>
                <% if logged_in? && (document.user == current_user || current_user.admin?) %>
                    <div class="card mb-3">
                        <p class="card-header"><em>
                            by <%= link_to document.user.username, user_path(document.user)  %> </em>
                        </p>
                            <div class="position-relative">
                                <div class="card-body">
                                    <h5 class="card-title"><%= document.name %></h5>
                                    <p class="card-text"><%= document.description %></p>
                                    
                                    <%= link_to "Show", document, class:"btn btn-primary" %>
                                </div>
                            </div>
                    </div>
                <% end %>
            <% end %>     
        </div>
    </div>
</div>

