<div class="row justify-content-center">
  <div class="col-6 p-3">
    <h4>Processing documents</h4>
    <div class="trackContainer">
       <div class="list-group p-1">
            <% @documents.each do |document| %>
                <% if document.status_id == 2 %>
                    <%= render 'documents/document', document: document %>
                <% end %>
            <% end %>
        </div> 
    </div>
  </div>
  <div class="col-6 p-3">
      <h4>Document Information</h4>
        <div id="doc_details">
        </div>
    </div>
</div>