<%= turbo_frame_tag "remote_modal" do %>

    <!-- Modal -->
    <div class="modal fade" id="routeModal" tabindex="-1" aria-labelledby="newRouteRemoteModalLabel" aria-hidden="true" data-controller="remote-modal" data-action="turbo:before-render@document->remote-modal#hideBeforeRender">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modal_content" >
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="newRouteRemoteModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body remote_modal_body" id="remote_modal_body" >
            <%= yield  %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>

<% end %>