
<div class="mt-3">
<h6>Document Log: </h6>
    <ul class="list-group list-group-flush">    
        <%= @route.each do | r | %>
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1"><i><%= r.status.statusName %></i> by <b><%= r.user.username %></b></p>
                    <small><%= time_ago_in_words(r.created_at) %> ago</small>
                </div>
            </li>
        <% end %>
    </ul>
</div>