@import 'bootstrap';

body,
html {
  margin: 0;
  height: 100%;
  overflow: auto;
}

html {
  background-color: grey;
}

nav {
  background-color: #433d3c;
}

.screen {
  min-height: 100vh;
  height: 100%;
}

.txtPageTitle {
  color: #83a95c;
}

.txtPageBody,
.txtPageBody li {
  margin-top: 6px;
  margin-bottom: 8px;
  color: white;
}

.listPageBody {
  font-size: 18px;
}

.features {
  background-color: #00425a;
}

.footer {
  background-color: #433d3c;
}

.features,
.footer {
  height: 80%;
  width: 100%;
}

.aboutLogo {
  position: absolute;
  top: 10%;
  left: 5%;
}

hr {
  height: 65vh;
  width: 0.3vw;
  border-width: 0;
  background-color: #83a95c;
}

.userHeaderList,
.userDataList {
  padding: 6px;
}

.userHeaderList {
  text-align: right;
}
.userDataList {
  text-align: left;
}

.trackContainer {
  height: 75vh;
  overflow: auto;
  background-color: #cdcdcd;
}

